<h1>
    <% if (tipoDatos == "planillaSemanal") { %>
    PLANILLA SEMANAL
    <% } else if (tipoDatos == "planillaMensual") { %>
    PLANILLA MENSUAL
    <% } else { %>
    CONSULTA PLANILLA
    <% } %>
    <script>
        function deshabilitarBoton(){
            var cant = document.getElementById('cantidad').value;
            cant = Number(cant);
            if (cant == "" || (!isNaN(cant) && cant == Math.trunc(cant))){
                document.getElementById('cantBoton').disabled = false;
            }
            else{
                document.getElementById('cantBoton').disabled = true;    
            }
        }
    </script>
    <form action = "ventanaPrincipal" method = "POST">
        <div>
            <button formaction = "consultarPlanillaSemanal" name = "btnConsultarPlanillaSemanal">
                Consulta Planilla Semanal
            </button>
            <button formaction = "consultarPlanillaMensual" name = "btnConsultarPlanillaMensual">
                Consulta Planilla Mensual
            </button>
            <button formaction = "salir" name = "salirBoton">
                Salir
            </button>
        </div>
        <div>
            <%=mensajeError%>
            <% if (tipoDatos == "planillaSemanal") { %>
                <div style = "font-size: large;">
                    Planilla Semanal
                </div>
                <select id = "planillaSemanalListBox" name = "planillaSemanalListBox" size = "15">
                    
                </select>
            </div>
            <div>
                <button formaction = "deducciones" name = "deducciones">
                    Mostrar Deducciones
                </button>
                <button formaction = "" name = "salarioBruto">
                    Detalle Salario Bruto
                </button>
            </div>

            <% } else if (tipoDatos == "planillaMensual") { %>
                <div style = "font-size: large;">
                    Planilla Mensual
                </div>
                <div>
                    <select id = "planillaMensualListBox" name = "planillaMensualListBox" size = "15">
                        <% for (fila of datos) { %>
                            <option value = "<%= fila.Id %>"> <%= fila.Mes + " | " + fila.SalarioTotal
                                + " | " + fila.SalarioNeto + " | " + fila.TotalDeducciones %> </option>
                        <% } %>
                    </select>
                </div>
                <div>
                    <button formaction = "deducciones" name = "deducciones">
                        Mostrar Deducciones
                    </button>
                </div>
            <% } else {} %>
        </div>
    </form>
</h1>
