<h1>
    DEDUCCIONES POR SEMANA
    <form>
        <select id = "deduccionesXSemana" name = "deduccionesXSemana" size = "15">
          
            
        </select>
        <div>
            <button formaction = "regresarDeduccion" name = "regresarDeduccionesMes">
                Regresar
            </button>
        </div>
    </form>
</h1>