<h1>
    DETALLE SALARIO BRUTO 
    <form>
        <select id = "detalleSalarioBruto" name = "detalleSalarioBruto" size = "15">
          

            
        </select>
        <div>
            <button formaction = "regresarDeduccion" name = "regresarDeduccionesMes">
                Regresar
            </button>
        </div>
    </form>
</h1>