<h1>
    <% if (tipoDatos == "planillaSemanal") { %>
    PLANILLA SEMANAL
    <% } else if (tipoDatos == "planillaMensual") { %>
    PLANILLA MENSUAL
    <% } else { %>
    VENTANA PRINCIPAL
    <% } %>
    <script>
        function deshabilitarBoton(){
            var cant = document.getElementById('cantidad').value;
            cant = Number(cant);
            if (cant == "" || (!isNaN(cant) && cant == Math.trunc(cant))){
                document.getElementById('cantBoton').disabled = false;
            }
            else{
                document.getElementById('cantBoton').disabled = true;    
            }
        }
    </script>
    <form action = "ventanaPrincipalEmp" method = "POST">
        <div>
            <button formaction = "consultarPlanillaSemanal" name = "btnConsultarPlanillaSemanal">
                Consulta Planilla Semanal
            </button>
            <button formaction = "consultarPlanillaMensual" name = "btnConsultarPlanillaMensual">
                Consulta Planilla Mensual
            </button>
            <button formaction = "salir" name = "salirBoton">
                Salir
            </button>
        </div>
        <div>
            <%=mensajeError%>
            <% if (tipoDatos == "planillaSemanal") { %>
                <div style = "font-size: large;">
                    Planilla Semanal
                </div>
                <select id = "planillaSemanalListBox" name = "planillaSemanalListBox" size = "15">
              
                </select>
            <% } else if (tipoDatos == "planillaMensual") { %>
                <div style = "font-size: large;">
                    Planilla Mensual
                </div>
                <select id = "planillaMensualListBox" name = "planillaMensualListBox" size = "15">
                   
            
                </select>
            <% } else {} %>
        </div>
    </form>
</h1>
